workflows/telegram-bot/my-chat-bot.json
{
  "name": "telegram-voice-summarizer",
  "nodes": [
    {
      "parameters": {
        "updates": ["message"]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [2112, 1744],
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "model": {
          "value": "gpt-4.1-mini",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [3088, 1856],
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Dame un momento",
        "additionalFields": {
          "reply_to_message_id": "={{ $json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2320, 1744],
      "name": "Enviar Mensaje de Espera"
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.result.reply_to_message.voice }}",
              "operator": { "type": "object", "operation": "exists" }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2528, 1744],
      "name": "¿Contiene Mensaje de Voz?"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [2736, 1648],
      "name": "Descargar Audio"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe"
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [2944, 1648],
      "name": "Transcribir Audio (Whisper)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Eres un asistente que resume mensajes de voz. Sé conciso y directo."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [3152, 1648],
      "name": "AI Agent: Resumidor"
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Enviar Mensaje de Espera", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent: Resumidor", "type": "ai_languageModel", "index": 0 }]] },
    "Enviar Mensaje de Espera": { "main": [[{ "node": "¿Contiene Mensaje de Voz?", "type": "main", "index": 0 }]] },
    "¿Contiene Mensaje de Voz?": { "main": [[{ "node": "Descargar Audio", "type": "main", "index": 0 }]] },
    "Descargar Audio": { "main": [[{ "node": "Transcribir Audio (Whisper)", "type": "main", "index": 0 }]] },
    "Transcribir Audio (Whisper)": { "main": [[{ "node": "AI Agent: Resumidor", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "binaryMode": "separate" }
}