workflows/telegram-bot/my-chat-bot.json
{
  "name": "telegram-ai-audio-summary",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "name": "Telegram Trigger"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Dame un momento",
        "additionalFields": {
          "reply_to_message_id": "={{ $json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [208, 0],
      "name": "Send a text message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.result.reply_to_message.voice }}",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [416, 0],
      "name": "Contiene mensaje de voz"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [624, -96],
      "name": "Get a file"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe"
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [832, -96],
      "name": "Transcribe a recording"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "Eres un asistente que resume audio de voz. Dime en pocas palabras lo que necesita el usuario."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [1040, -96],
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "value": "gpt-4.1-mini",
          "mode": "list"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [1024, 80],
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}"
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [1392, -96],
      "name": "Generate audio (TTS)"
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1600, -96],
      "name": "Send an audio file"
    }
  ],
  "connections": {
    "Telegram Trigger": { "main": [[{ "node": "Send a text message", "type": "main", "index": 0 }]] },
    "Send a text message": { "main": [[{ "node": "Contiene mensaje de voz", "type": "main", "index": 0 }]] },
    "Contiene mensaje de voz": { "main": [[{ "node": "Get a file", "type": "main", "index": 0 }]] },
    "Get a file": { "main": [[{ "node": "Transcribe a recording", "type": "main", "index": 0 }]] },
    "Transcribe a recording": { "main": [[{ "node": "AI Agent", "type": "main", "index": 0 }]] },
    "OpenAI Chat Model": { "ai_languageModel": [[{ "node": "AI Agent", "type": "ai_languageModel", "index": 0 }]] },
    "AI Agent": { "main": [[{ "node": "Generate audio (TTS)", "type": "main", "index": 0 }]] },
    "Generate audio (TTS)": { "main": [[{ "node": "Send an audio file", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  }
}